*{
    margin:0;
    padding: 0;
    color:white;
}
 
/*  body{
    background-image: url('img/fundo2.jpg') ;
   
}
 */
 img{
 position:absolute;
 top: 0px;
 right: 0px;
 bottom: 0px;
 height: 790px;
 text-align:right;   
   z-index:-10; 
   
 }
 
 header{
     width: 200px;
 }
 
 .formulario{
   display:flex;
   flex-direction:column;
   
 }
 
 .registerBlock{
     margin: 60px;
     tpp: 50px;
     color:white;
     width: 300px;
     height: 400px;
     background-color: #5423d2d6 ;
     display:flex;
     flex-direction: column;
     align-items:center;
     border-radius: 9px;
 }
 
.inputs{
    display: flex;
    flex-direction: column;
}

.inputs input{
    background-color: white;
    border:none;
    margin-top: 10px ;
    color:#000000d5;
    padding: 7px;
    height: 35px;
    border-radius: 6px;
}

.paddingBlock{
     
     width: 70%;
     height: 100%;      
     display:flex;
     flex-direction:column;
     justify-content:space-around;
}

::placeholder {
    
    color: black;
}

.button button{
    width: 70%;
    height: 40px;
    background-color: #0e00cf;
    color:white;
    font-size: 18px;
    font-weight:700%;
    border-radius: 5px;
    border: solid 1px #000d86;
    text-align:center;
     
    cursor:pointer;
}



button{
    margin: 30px;
}

.box{
    
  position: relative;
  left: 70px;
   bottom: 90px;   
}

h2{
    color: black;
}